force-app/main/default/flows/Account_and_contact_by_custom_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>accName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}+&apos;Account&apos;</expression>
    </formulas>
    <formulas>
        <name>conName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} +&apos; Contact &apos;</expression>
    </formulas>
    <interviewLabel>Account and contact by custom record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account and contact by custom record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Account_Record</name>
        <label>Account Record</label>
        <locationX>378</locationX>
        <locationY>359</locationY>
        <assignRecordIdToReference>accid</assignRecordIdToReference>
        <connector>
            <targetReference>Contact_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>accName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Contact_Record</name>
        <label>Contact Record</label>
        <locationX>391</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>update_custome_object_record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>conName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>update_custome_object_record</name>
        <label>update custome object record</label>
        <locationX>562</locationX>
        <locationY>514</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pending</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>accid</elementReference>
            </value>
        </inputAssignments>
        <object>School__c</object>
    </recordUpdates>
    <start>
        <locationX>372</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>School__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>accid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
