force-app/main/default/flows/Discount_Calculator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Full_Discount1</name>
        <label>Full Discount1</label>
        <locationX>428</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_the_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Discount</name>
        <label>No Discount</label>
        <locationX>448</locationX>
        <locationY>18</locationY>
        <assignmentItems>
            <assignToReference>discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_the_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Partial_Discount0</name>
        <label>Partial Discount0</label>
        <locationX>505</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_the_opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_annual_revenue</name>
        <label>Check the annual revenue</label>
        <locationX>285</locationX>
        <locationY>274</locationY>
        <defaultConnector>
            <targetReference>No_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Discount</defaultConnectorLabel>
        <rules>
            <name>full_discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.AnnualRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Full_Discount1</targetReference>
            </connector>
            <label>full discount</label>
        </rules>
        <rules>
            <name>Partial_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.AnnualRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.AnnualRevenue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partial_Discount0</targetReference>
            </connector>
            <label>Partial Discount</label>
        </rules>
    </decisions>
    <description>Discount_Calculator</description>
    <environments>Default</environments>
    <interviewLabel>Discount Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Discount Calculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>120</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_annual_revenue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_the_opportunity</name>
        <label>update the opportunity</label>
        <locationX>750</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Discount_percentaage__c</field>
            <value>
                <elementReference>discount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>35</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>oppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
